footer {
    background-color: #efd400;
    color: white;
    padding: 20px;
    text-align: center;
}

footer h3 {
    font-size: 20px;
}

footer p {
    font-size: 16px;
}


.copyright {
    margin-top: 20px;
}