
/*mobile*/

header {
    background-color: #EAC926;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.home_header_div_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.home_header_div_container_logo {
    display:flex;
    
}

.logo img {
    width: 10vh;
    margin: left;
}

.tittle {
    font-size: 2.5vh;
    color: #03264C;
    font-weight: 600;
}

.home_header_mobile_hamburger{
    background-color: #1259c3;
    padding: 13px;
    border-radius: 7px;
    margin: auto;
}

.search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
}

.home_header_nav_ul {
    display: block;
    margin-top: 30px;
    padding: 5px;
}

.ul_2{
    margin-top: 2em;
}

.home_header_nav_ul li{
    padding: 2px 0;
}

.promos {
    display: flex;
    padding: 5px;
    margin: 5px;
    color: black;
    font-weight: 600;
}

.promos i {
    margin-right: 3px;
}


/*Desktop*/
/*
@media (min-width:769px){
    header {
        background-color: #EAC926;
        color: white;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .home_header_div_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .home_header_div_container_logo {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .logo img {
        width: 10vh;
    
        
    }
    
    .tittle {
        font-size: 2.5vh;
        color: black;
        font-weight: 600;
    }
    
    .home_header_mobile_hamburger{
        display: none;
        background-color: blue;
        padding: 13px;
        border-radius: 7px;
    }
    
    .search-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 5px;
    }
    
    .home_header_nav_ul {
        display: inline-block;
    }
    .promos {
        display: flex;
        padding: 5px;
        margin: 5px;
        color: black;
        font-weight: 600;
    }
    
    .promos i {
        margin-right: 3px;
    }
}
*/