

/*Tablet*/

    .productos {
        margin: 20px;
    }
    
    .productos h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    .producto {
        background-color: #ffffff;
        border: 1px solid #ddd;
        padding: 10px;
        margin: 10 auto;
        text-align: center;
        display:block;
        width: 100%;
    }
    
    .producto img {
        width: 70%;
        height: auto;
    }
    
    .precio {
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }
    
    .descuento {
        font-size: 16px;
        color: #e74c3c;
    }
    
    .nombre {
        font-size: 16px;
        color: #666;
    }